[Unit]
Description=Development celery runner for ORES

[Service]
ExecStart=/srv/ores/venv/bin/python /vagrant/utility celery_worker
WorkingDirectory=/vagrant
User=vagrant
Group=vagrant
Restart=on-failure
