celery >= 4.4.0, < 4.4.999
docopt >= 0.6.2, < 0.6.999
flask >= 1.0.2, < 1.0.999
flask-jsonpify >= 1.5.0, < 1.5.999
flask-swaggerui >= 0.0.1, < 0.0.999
flask-wikimediaui >= 0.0.1, < 0.0.999
mwapi >= 0.5.0, < 0.5.999
pyyaml == 4.2b4
redis >= 3.2.1, < 4.0.0
revscoring >= 2.3.0, < 2.8.999
sseclient >= 0.0.18
stopit >= 1.1.1, < 1.1.999
werkzeug == 0.16.1
yamlconf >= 0.2.4, < 0.2.999
jinja2 == 3.0.3
itsdangerous==2.0.1
