swagger: '2.0'
info:
  title: ORES scoring interface
  description: A webserver for hosting scoring services (v1 paths)
  version: "1"
host: ores.wmflabs.org
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /v1/scores/:
    get:
      summary: Provides access to a list of available contexts.
      description: |
        This route provides a list of available contexts.  Generally a wiki is 1:1 with a context and a context is expressed
        as the database name of the wiki.  For example "enwiki" is English Wikipedia and "wikidatawiki" is Wikidata.
      responses:
        "200":
          description: A JSON document containing an array of contexts
          schema:
            $ref: '#/definitions/ContextsResponse'
        default:
          description: An error occurred that prevented contexts from being retrieved
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v1/scores/{context}/?models={models}:
    get:
      summary: Provides access to information about {models}.
      description: |
        This route provides access to information about {models}.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {models}
          required: true
          type: string
          format: string
        - name: models
          in: path
          description: The name of a model(s) to get information for (split multiple names with "|")
          required: true
          type: string
          format: string
      responses:
        "200":
          description: A JSON document containing scores or information about the available models
          schema:
            $ref: '#/definitions/ModelsResponse'
        "503":
          description: Server overloaded -- Slow down and/or please try again later
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v1/scores/{context}/?models={models}&revids={revids}:
    get:
      summary: Provides a means of scoring *revids* using multiple *models* in the same request.
      description: |
        This route provides either a list a models available in {context} if no {models} or {revids}
        are provided.  If both *models* and {revids} are provided, ModelScoreResponse will be returned.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {models}
          required: true
          type: string
          format: string
        - name: models
          in: path
          description: The name of a model(s) to apply (split multiple names with "|")
          required: true
          type: string
          format: string
        - name: revids
          in: path
          description: The revision IDs to score (split multiple ids with "|")
          required: true
          type: number
          format: integer
      responses:
        "200":
          description: A JSON document containing scores or information about the available models
          schema:
            $ref: '#/definitions/ModelScoresResponse'
        "503":
          description: Server overloaded -- Slow down and/or please try again later
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v1/scores/{context}/{model}/:
    get:
      summary: Provides access to information about a {model} or allows scoring multiple *revids*.
      description: |
        This route provides information about a single model if no *revids* are provided
        If *revids* are provided, ScoreResponse will be returned.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {model}
          required: true
          type: string
          format: string
        - name: model
          in: path
          description: The name of a model to apply
          required: true
          type: string
          format: string
      responses:
        "200":
          description: A JSON document containing scores or information about the available models
          schema:
            $ref: '#/definitions/ModelResponse'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v1/scores/{context}/{model}/?revids={revids}:
    get:
      summary: Provides a means of scoring *revids* using {model} in the same request.
      description: |
        Provides a means of scoring *revids* using {model} in the same request. A
        ScoreResponse will be returned.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {model}
          required: true
          type: string
          format: string
        - name: model
          in: path
          description: The name of a model to apply
          required: true
          type: string
          format: string
        - name: revids
          in: path
          description: The revision IDs to score (split multiple ids with "|")
          required: true
          type: number
          format: integer
      responses:
        "200":
          description: A JSON document containing scores
          schema:
            $ref: '#/definitions/ScoresResponse'
        "503":
          description: Server overloaded -- Slow down and/or please try again later
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v1/scores/{context}/{model}/{revid}:
    get:
      summary: Provides a means of scoring a single {revid} using {model}.
      description: |
        Provides a means of scoring {revid} using {model}. A ScoreResponse will be returned.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {model}
          required: true
          type: string
          format: string
        - name: model
          in: path
          description: The name of a model to apply
          required: true
          type: string
          format: string
        - name: revid
          in: path
          description: The revision ID to score
          required: true
          type: number
          format: integer
      responses:
        "200":
          description: A JSON document containing scores
          schema:
            $ref: '#/definitions/ScoresResponse'
        "503":
          description: Server overloaded -- Slow down and/or please try again later
          schema:
            $ref: '#/definitions/ErrorResponse'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  ContextsResponse:
    type: object
    properties:
      contexts:
        type: array
        description: A list of contexts (wiki database names)
        items:
          type: string
  ModelScoresResponse:
    type: object
    additionalProperties:
      $ref: '#/definitions/ScoresResponse'
  ScoresResponse:
    type: object
    additionalProperties: true
  ModelResponse:
    $ref: '#/definitions/ModelInfo'
  ModelsResponse:
    type: object
    additionalProperties:
      $ref: '#/definitions/ModelResponse'
  ModelInfo:
    type: object
    required:
      - type
      - version
    properties:
      type:
        type: string
        description: The type of model used to score
      version:
        type: string
        description: A semantic version string
      trained:
        type: number
        description: The datetime at which the model was trained (in seconds since Jan. 1st 1970)
      params:
        type: object
        description: A list of parameters used when constructing the model
        additionalProperties: true
      test_stats:
        type: object
        description: A list of test statistics used on the model.
        additionalProperties: true
  ErrorResponse:
    type: object
    properties:
      error:
        type: object
        properties:
          code:
            description: A short string identifying the error
            type: string
          message:
            description: A human-readable explanation of what went wrong
            type: string
