swagger: '2.0'
info:
  title: ORES scoring interface
  description: A webserver for hosting scoring services (v2 paths)
  version: "1"
host: ores.wmflabs.org
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /v2/scores/:
    get:
      summary: Provides access to a list of available contexts.
      description: |
        This route provides a list of available contexts.  Generally a wiki is 1:1 with a context and
        a context is expressed as the database name of the wiki.  For example "enwiki" is English
        Wikipedia and "wikidatawiki" is Wikidata.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {models}
          required: true
          type: string
          format: string
        - name: models
          in: query
          description: The name of a model(s) to apply (split multiple names with "|")
          required: false
          type: string
          format: string
        - name: revids
          in: query
          description: The revision IDs to score (split multiple ids with "|")
          required: false
          type: number
          format: integer
        - name: model_info
          in: query
          description: Model information items to include in the response
          required: false
          type: string
          format: string
      responses:
        "200":
          description: A JSON document information about the available contexts and models
          schema:
            $ref: '#/definitions/ResponseDocument'
        default:
          description: An error occurred that prevented contexts from being retrieved
          schema:
            $ref: '#/definitions/ResponseDocument'
  /v2/scores/{context}:
    get:
      summary: Provides a means of scoring *revids* using multiple *models* in the same request.
      description: |
        This route provides either a list a models available in {context} if no {models} or {revids}
        are provided.  If both *models* and {revids} are provided, ModelScoreResponse will be returned.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {models}
          required: true
          type: string
          format: string
        - name: models
          in: query
          description: The name of a model(s) to apply (split multiple names with "|")
          required: false
          type: string
          format: string
        - name: revids
          in: query
          description: The revision IDs to score (split multiple ids with "|")
          required: false
          type: number
          format: integer
        - name: feature_values
          in: query
          description: Include feature values in the response
          required: false
          type: string
          format: string
        - name: model_info
          in: query
          description: Model information items to include in the response
          required: false
          type: string
          format: string
      responses:
        "200":
          description: A JSON document containing scores or information about the available models
          schema:
            $ref: '#/definitions/ResponseDocument'
        "503":
          description: Server overloaded -- Slow down and/or please try again later
          schema:
            $ref: '#/definitions/ResponseDocument'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ResponseDocument'
  /v2/scores/{context}/{model}:
    get:
      summary: Provides a means of scoring *revids* using {model} in the same request.
      description: |
        Provides a means of scoring *revids* using {model} in the same request. A
        ScoreResponse will be returned.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {model}
          required: true
          type: string
          format: string
        - name: model
          in: path
          description: The name of a model to apply
          required: true
          type: string
          format: string
        - name: revids
          in: query
          description: The revision IDs to score (split multiple ids with "|")
          required: false
          type: number
          format: integer
        - name: feature_values
          in: query
          description: Include feature values in the response
          required: false
          type: string
          format: string
        - name: model_info
          in: query
          description: Model information items to include in the response
          required: false
          type: string
          format: string
      responses:
        "200":
          description: A JSON document containing scores
          schema:
            $ref: '#/definitions/ResponseDocument'
        "503":
          description: Server overloaded -- Slow down and/or please try again later
          schema:
            $ref: '#/definitions/ResponseDocument'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ResponseDocument'
  /v2/scores/{context}/{model}/{revid}:
    get:
      summary: Provides a means of scoring a single {revid} using {model}.
      description: |
        Provides a means of scoring {revid} using {model}. A ScoreResponse will be returned.
      parameters:
        - name: context
          in: path
          description: The name of the context to find {model}
          required: true
          type: string
          format: string
        - name: model
          in: path
          description: The name of a model to apply
          required: true
          type: string
          format: string
        - name: revid
          in: path
          description: The revision ID to score
          required: true
          type: number
          format: integer
        - name: model_info
          in: query
          description: Model information items to include in the response
          required: false
          type: string
          format: string
        - name: feature_values
          in: query
          description: Include feature values in the response
          required: false
          type: string
          format: string
        - name: cache
          in: query
          description: A cache of pre-computed features to use when scoring
          required: false
          type: string
          format: JSON document
      responses:
        "200":
          description: A JSON document containing scores
          schema:
            $ref: '#/definitions/ResponseDocument'
        "503":
          description: Server overloaded -- Slow down and/or please try again later
          schema:
            $ref: '#/definitions/ResponseDocument'
        default:
          description: An error occurred that prevented any scores from being generated
          schema:
            $ref: '#/definitions/ResponseDocument'

definitions:
  ResponseDocument:
    type: object
    properties:
      scores:
        description: A mapping between contect names and ContextDocuments
        type: object
        additionalProperties:
          $ref: '#/definitions/ContextDocument'
      error:
        description: An error that prevented processing the request
        type: object
        properties:
          code:
            description: A short string identifying the error
            type: string
          message:
            description: A human-readable explanation of what went wrong
            type: string
      warnings:
        description: A list of warnings raised while generating a response
        type: array
        items:
          $ref: '#/definitions/ErrorWarningDocument'
  ContextDocument:
    type: object
    description: A mapping between model names on ModelDocuments
    additionalProperties:
      $ref: '#/definitions/ModelDocument'
  ModelDocument:
    type: object
    properties:
      version:
        description: A semantic version number for the model
        type: string
      scores:
        description: A mapping between revid and ScoreDocuments
        type: object
        additionalProperties:
          $ref: '#/definitions/ScoreDocument'
      features:
        description: A mapping of feature names to the values generated in scoring
        type: object
        additionalProperties:
          type: [number, boolean]
      info:
        description: Extended information about the model
        type: object
        required:
          - type
          - version
        properties:
          type:
            type: string
            description: The type of model used to score
          version:
            type: string
            description: A semantic version string
          trained:
            type: number
            description: The datetime at which the model was trained (in seconds since Jan. 1st 1970)
          params:
            type: object
            description: A list of parameters used when constructing the model
            additionalProperties: true
          test_stats:
            type: object
            description: A list of test statistics used on the model.
            additionalProperties: true
  ScoreDocument:
    type: object
    description: A score generated by a model for a specific revision (or the error that occurred while generating a score)
    properties:
      error:
        description: If scoring this revision failed, this field contains information about the error
        type: object
        properties:
          code:
            description: A short string identifying the error
            type: string
          message:
            description: A human-readable explanation of what went wrong
            type: string
      additionalProperties:
        type: [number, string, boolean, array, object]
  ErrorWarningDocument:
    type: object
    properties:
      code:
        description: A short string identifying the error
        type: string
      message:
        description: A human-readable explanation of what went wrong
        type: string
