server {
    listen 80;
    server_tokens off;
    server_name ores.wmflabs.org;

     location / {
         include uwsgi_params;
         uwsgi_pass unix:/tmp/ores.wmflabs.org.sock;
     }

     #location /static {
     #  alias /var/www/ores/ores/wsgi/static;
     #}

     ## Only requests to our Host are allowed
     #if ($host !~ ^(ores.wmflabs.org)$ ) {
     #  return 444;
     #}
}
