<html>
<head>
  <title>Objective Revision Evaluation Service</title>
  <link rel="stylesheet" href="wikimedia-ui-static/MW/mediawiki.min.css">
  <meta name="description" content="The Objective Revision Evaluation Service (ORES) is a web service that provides machine learning as a service for Wikimedia Projects"/>
  <meta property="og:image" content="https://ores.wikimedia.org/static/images/ores_logo.svg"/>
  <style type="text/css">
    html {
      background: #eaecf0;
    }
    body {
      max-width: 50em;
      margin: 0px auto;
      padding: 1em 2em;
      background: #fff;
    }

    dt {
      float: left;
      clear: left;
      margin: 0 0 10px 0;
      padding: 0;
      min-width: 10em;
      font-weight: bold;
    }
    dt::after {
      content: ':';
    }
    dd {
      float: left;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
  <h1>Version</h1>
  <dl>
    {% for component, version in versions.items() %}
    <dt>{{ component }}</dt><dd>{{ version }}</dd>
    {% endfor %}
  </dl>
<body>
</body>
</html>